@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(./reset.css);
@import url(./utils.css);
@import url(./hero.css);
@import url(./about.css);
@import url(./portfolio.css);
@import url(./testominals.css);
@import url(./contact.css);

/* 
====================
HEADER SECTION
====================
*/

.header {
  position: fixed;
  width: 100%;
  padding-block: 1rem;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 999;
}

.header.active {
  box-shadow: var(--box-shadow);
  background-color: var(--background-color);
}

.logo {
  color: var(--main-heading);
  transition: var(--transition);
}

.logo:hover {
  color: var(--link-hover);
}

.list-link {
  color: var(--primary-text);
  transition: var(--transition);
}

.list-link:hover {
  color: var(--link-hover);
}

#menu-btn {
  padding: 0.2rem 0.7rem;
}

.theme-toggle-btn {
  background: transparent;
  color: var(--primary-btn-color);
  padding: 0.1rem 0.7rem;
  box-shadow: var(--box-shadow);
}

.theme-toggle-btn:hover {
  background-color: unset;
}

.theme-toggle-btn > i {
  font-size: 1.4rem;
}
.theme-toggle-btn > .sun-icon {
  display: none;
}
.theme-toggle-btn.active > .moon-icon {
  display: none;
}
.theme-toggle-btn.active > .sun-icon {
  display: block;
}

/* 
=================
Footer Section
=================
*/
.footer {
  font-size: 1.2rem;
  justify-content: space-between;
  background-color: var(--secondary-background-color);
  padding: 1rem 2rem;
  max-width: 1600px;
}

.footer .btn i {
  font-size: 1.2rem;
}

.footer .btn {
  padding: 0.4rem 0.8rem;
}
