/* 
===================
PROJECTS SECTION
===================
*/

.portfolio {
  margin-block: 2rem;
}

.buttons-container {
  justify-content: center;
  gap: 3rem;
}

.buttons-container > button {
  color: var(--primary-text);
  font-weight: normal;
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
  background-color: var(--secondary-background-color);
}

.buttons-container > button:hover {
  background-color: var(--secondary-background-color);
}

.portfolio-inner-container {
  margin-block: 2rem;
}

.card-heading {
  text-align: center;
  margin-block: 1rem;
  font-size: 1.3rem;
  color: var(--primary-text);
}

#technologies {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: var(--gap);
  place-content: center;
  margin-block: 2rem;
}

.portfolio-btn-active {
  animation: fadding 0.4s 0s 1 ease-in;
}

@keyframes fadding {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.single-technology {
  padding: 1rem;
  text-align: center;
  background-color: var(--secondary-background-color);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon > img {
  width: 100px;
}

#certificates {
  display: none;
}

.single-certificate {
  display: grid;
  padding: 1rem;
  grid-template-columns: 400px 1fr;
  background-color: var(--secondary-background-color);
}

.certificate-reference {
  color: var(--main-heading);
  font-weight: bold;
}

.certificate-icon {
  width: 100%;
}

.certificate-icon > img {
  width: 50%;
}

#services {
  display: none;
  grid-template-columns: repeat(2, 400px);
  place-content: center;
  gap: var(--gap);
  margin-block: 2rem;
}

.single-service {
  background-color: var(--secondary-background-color);
  padding: 2rem;
  text-align: center;
}

.gig-thumbnail > img {
  width: 100%;
}

#projects {
  display: none;
  gap: var(--gap);
  grid-template-columns: repeat(1, 1fr);
}

.single-project > a > figure {
  padding: 1rem;
  background-color: var(--secondary-background-color);
  gap: 1.4rem;
  transition: box-shadow 0.3s ease-in-out;
}
.single-project > a > figure:hover,
.single-project > a > figure:active,
.single-project > a > figure:focus {
  box-shadow: 2px 2px 20px var(--primary-btn-color);
}

.single-project > a > figure > picture {
  flex-shrink: 1;
}
.single-project > a > figure > figcaption {
  flex-shrink: 1.2;
}

p > strong {
  color: var(--primary-text);
}

.note {
  color: var(--primary-text);
}

.single-testomonial {
  flex-direction: column;
  text-align: center;
  gap: 0;
  background-color: var(--secondary-background-color);
  padding-block: 2rem;
  border-radius: 8px;
}

.single-testomonial > .profile-pic > img {
  width: 100px;
  border-radius: 50%;
}
.single-testomonial > .rating {
  color: var(--primary-text);
  font-weight: 600;
  margin-top: 1rem;
  font-size: 1.3rem;
}

.swiper {
  width: auto;
  height: auto;
}

.swiper-pagination {
  bottom: 0.3rem !important;
}
.swiper-pagination-bullet {
  background-color: var(--primary-text);
}

@keyframes up-and-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
